<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.reply.mapper.ReplyMapper">
	<insert id="replyWrite" parameterType="com.java.reply.dto.ReplyDto">
		insert into linereply 
		values(linreply_bunho_seq.nextval, #{line_reply})
	</insert>
</mapper>